{
	debug
	order replace after encode
}

:80 {
	handle /css* {
		replace stream {
			"https://fonts.gstatic.com" ""
		}

		reverse_proxy https://fonts.googleapis.com {
			header_up Host {upstream_hostport}
			header_up Accept-Encoding identity # don't gzip
			header_up -X-Forwarded-For
			header_up -X-Forwarded-Proto
			header_up -X-Forwarded-Host
			header_down -Server
		}
	}

	handle /s* {
		reverse_proxy https://fonts.gstatic.com {
			header_up Host {upstream_hostport}
			header_down -Server
		}
	}

	handle {
		root * /usr/share/caddy
		file_server
	}
}
